TO-DO

<router-outlet></router-outlet>


<footer>Todos os direitos reservados</footer>

<!--
<hr />
<h1>Property Binding</h1>

{{ nome }}
{{ 1 + 5 }}

<br />
Título <input type="text" value="{{ title }}" /><br />
Título <input type="text" [value]="title" /><br />
Título <input type="text" bind-value="title" /><br />

<hr />
<h1>Two way Data Binding</h1>
Título <input type="text" [(ngModel)]="title" /><br />

Título
<input type="text" [ngModel]="title" (ngModelChange)="title = $event" /><br />

Título <input type="text" bindon-ngModel="title" /><br />

<hr />
<h1>Event Binding</h1>

<input
  #esteCampo
  type="text"
  (blur)="save(esteCampo.value)"
  (keyup.enter)="save(esteCampo.value)"
  (keyup)="digitando($event)"
/>
Texto do input é: {{ texto }}

<br />

<span
  (mouseover)="onMouseSpan()"
  (mouseout)="onMouseSpan()"
  [class.destaque]="isMouseOver"
>
  Passe o mouse sobre mim
</span>

<style>
.destaque {
  background-color: red;
  font-size: 2em;
}
</style>
<br>
<span [class.destaque]="texto == 'pipoca'">
  Digitou pipoca
</span>

-->