<div>
  <h1>Person</h1>

  <form [formGroup]="form">
    <div class="form-group">
      <label class="form-label">Nome</label>
      <input class="form-control" formControlName="name" />
    </div>

    <div class="form-group">
      <label class="form-label">Nascimento</label>
      <input class="form-control" formControlName="birth" />
    </div>

    <div class="form-group">
      <label class="form-label">E-mail</label>
      <input class="form-control" formControlName="email" />
    </div>

    <div class="form-group">
      <label class="form-label">Login</label>
      <input class="form-control" formControlName="login" />
    </div>

    <div class="form-group">
      <label class="form-label">Senha</label>
      <input class="form-control" type="password" formControlName="password" />
    </div>

    <div>
      <button class="btn btn-success">Save</button>
      <button class="btn btn-light">Cancel</button>
    </div>
  </form>

</div>

