<div #todoDialog class="modal fade" id="todoDialog" tabindex="-1" aria-labelledby="todoFormLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Afazer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" class="form-control" id="title" placeholder="Título..."
                            formControlName="title">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Descrição</label>
                        <textarea class="form-control" id="description" rows="3" placeholder="Descrição..."
                            formControlName="description"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="date" class="form-label">Data e hora</label>
                        <input type="text" class="form-control" id="date" formControlName="date" />
                    </div>

                    <!--
                    <div class="mb-3">
                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy" name="dp" displayMonths="1"
                                navigation="select" showWeekNumbers="false" outsideDays="visible" ngbDatepicker
                                #d="ngbDatepicker" formControlName="date" (click)="d.toggle()">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    -->

                    <div class="form-check mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                formControlName="done">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Concluído?</label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex flex-wrap w-100 justify-content-between gap-1">
                    <button type="button" class="btn btn-danger me-auto" *ngIf="todo?.id"
                        (click)="deleteEmitter.emit(todo)"><i class="fa-solid fa-trash-can"></i></button>

                    <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" (click)="confirm()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>