<div>
  <h1 class="h3 mb-3">
    Person
    <button class="btn btn-primary" [routerLink]="['/app/person/new']">
      <i class="fa-solid fa-circle-plus"></i> Add
    </button>
  </h1>

  <main>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let person of people">
          <td>
            <a [routerLink]="[person.id]">
              {{ person.name }}
            </a>
          </td>
          <td>{{ person.email }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
