<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemalocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd">

    <!-- Unidade de Persistência -->
    <persistence-unit name="app-comercio" transaction-type="RESOURCE_LOCAL">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        
        <!-- Configuração do modo de ação da Validation API com JPA -->
        <validation-mode>CALLBACK</validation-mode>
        
        <properties>
            <!-- Driver do Banco de dados -->
            <property name="jakarta.persistence.jdbc.driver" value="org.mariadb.jdbc.Driver" />
      
            <!-- URL de conexão ao banco de dados -->
            <property name="jakarta.persistence.jdbc.url" value="jdbc:mariadb://localhost:3306/db_comercio"/>
      
            <!-- Credenciais (Usuário e Senha) de acesso ao banco de dados -->
            <property name="jakarta.persistence.jdbc.user" value="root"/>
            <property name="jakarta.persistence.jdbc.password" value=""/>
      
            <!-- Criar os esquemas de tabelas (JPA 3.x) -->
            <property name="jakarta.persistence.schema-generation.database.action" value="drop-and-create" />
            <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
      
            <!-- Configurações de log do EclipseLink -->
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
